.projectContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;

    gap: 15px;
}

.projectWidth{
    width: calc(33.33333333% - 10px);
    height: calc(50% - 7.5px);
}

@media (max-width: 768px) {
    .projectWidth{
        width: calc(50% - 10px);
    }
}

@media (max-width: 640px) {
    .projectWidth{
        width: calc(100% - 10px);
    }
}