@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #343f4f;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #ff1b1b00;
    border-radius: 15px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 180);
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 92, 100);
}