.photographyProjectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    /* Make container 80% of its parent section's height */

    gap: 15px;
    border-radius: 8px;
    margin: 20px;
}

.image-dimensions {
    width: auto;
    /* Limit image height so many images don't stretch the container */
    max-height: 240px;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .image-dimensions{
        max-height: 200px;
    }
}

@media (max-width: 750px) {
    .image-dimensions{
        max-height: 140px;
    }
}